
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    width: 1440px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    background-color: #2A2A2A;
    color: #FED001;
    padding: 16px 16px 32px;
    text-transform: uppercase;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    margin-left: 64px;
}

.header-nav-list {
    margin-right: 128px;
}

.header-nav-list {
    display: flex;
    list-style: none;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.header-nav-list-item {
    border: 1px solid #FED001;
    padding: 15px;
}

.header-nav-list-item:hover {
    background-color: black;
    cursor: pointer;
}

.hero {
    display: flex;
    gap: 16px;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(white, yellow);
    padding: 32px 32px 0;
}

.hero-text-content-title {
    font-size: 64px;
    font-weight: bolder;
}

.hero-text-content-button {
    padding: 16px 32px;
    border-radius: 5px;
    background-color: #FED001;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.principais-cursos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
}

.principais-cursos .principais-cursos-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1%;
}

.principais-cursos-card {
    width: 32%;
    border: 1px solid #EFF2F6;
    border-radius: 10px;
}


.principais-cursos-card img {
    width: 100%;
}

.principais-cursos-card .course-presentation {
    width: 80%;
    padding: 16px;
}

.map {
    width: 100%;
}

.ver-mais-cursos-button {
    background-color: #FED001;
    padding: 16px 32px;
    border-radius: 4px;
    margin-top: 64px;
    margin-bottom: 128px;
    font-weight: bolder;
}

.ver-mais-cursos-button {
    cursor: pointer;
}

.nossa-escola {
    display: flex;
    background-color: #003464;
    color: white;
    padding: 64px 64px 0 64px;
    gap: 32px;
}

.nossa-escola-text-content-title {
    font-size: 32px;
}

.nossa-escola-text-content-description {
    margin-top: 64px;
    width: 80%;
    line-height: 1.5;
    font-weight: 100;
}

.contatos {
    background-color: #EEF3F5;
    padding: 0 64px 48px 64px;
}

.contatos-title {
    text-align: center;
    font-size: 32px;
    margin-top: 0;
    padding-top: 64px;
    margin-bottom: 64px;
    font-weight: bold;
}

.contatos-address {
    width: 90vw;
}

.contatos-address address {
    text-align: right;
    margin-top: 32px;
    font-size: 18px;
}

.contatos-address address p {
    margin: 0;
    line-height: 1.5;
    font-style: normal;
}

.contatos-address address p abbr {
    text-decoration: none;
}

.footer {
    background-color: #2A2A2A;
    padding: 32px;
}

.footer-text {
    color: white;
    text-align: center;
}

.footer-text abbr {
    text-decoration: none;
}